* {
    font-family: 'Lato';
}

body {
    background-image: url('../resources/images/background.png');
}

button {
    outline: none;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 36px;
}

button:active {
    outline: none;
    background-color: #dddddd;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}

.button-xl {
    padding: 8px 72px;
}

.button-xxl {
    padding: 16px 144px;
}

.table-wide {
    width: 100%;
}

.margin-small {
    margin: 2.5px;
}

.center {
    display: block;
    margin: 2.5px auto;
}

.text-center {
    text-align: center;
}

.icon-img {
    width: 20px;
    height: 20px;
}

.loading-spinner {
    width: 64px;
    height: 64px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.navigation {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 10px;
}

.navigation a {
    font-family: 'Cinzel';
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.navigation a.active {
    background-color: #4CAF50;
    color: white;
}

.player-div {
    position: absolute;
    width: 15%;
    height: 100%;
}

.player-table {
    border: 1px solid black;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

.main-div {
    position: relative;
    left: 16%;
    right: 12%;
    width: 82%;
    height: 100%;
}

.building-card {
    position: relative;
    display: inline-block;
    width: 225px;
    height: 300px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 0;
}

.building-card-locked {
    position: absolute;
    height: 75%;
    width: 100%;
    background: rgba(221,221,221,0.6);
}

.card-image-container {
    height: 75%;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    z-index: 1;

    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out; 
}

.card-image:hover {
    cursor: pointer;
    opacity: 0.7;
}

.card-container {
    height: 25%;
    background-color: white;
    padding: 2px 8px;
    z-index: 2;
    border-radius: 0 0 5px 5px;
}

.building-card-buy {
    position: absolute;
    margin: 45% 30%;
}

.building-card-cost {
    margin: 0;
    text-align: right;
    float: left;
    margin: 0 0 0 35%;
    font-weight: bold;
}

.wide-nav { background-color: rgb(148, 97, 50); display: flex;}
.wide-nav a { flex-basis: 100%; font-size: 12px; border-right: 1px solid rgb(83, 54, 28); }
.wide-nav a:last-child { border-right: none; }
.wide-nav a:disabled { cursor: not-allowed; }
.wide-nav a:hover { background-color: rgb(175, 113, 58); color: white; }

.monster-div * {
    position: relative;
}

.healthbar {
    -webkit-appearance: none;
    height: 10px;
    width: 100%;
}

.healthbar::-webkit-progress-bar {
    background: wheat;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.healthbar::-webkit-progress-value {
    background: rgb(255, 46, 46);
}

.expbar {
    -webkit-appearance: none;
    height: 5px;
    width: 100%;
}

.expbar::-webkit-progress-bar {
    background: wheat;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.expbar::-webkit-progress-value {
    background: rgb(67, 46, 255);
}

.item-table {
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
    background-color: #8b5a2b;
}

.item-table th {
    border-bottom: 2px solid black;
}

.item-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.button-increase {
    background: transparent;
    font-size: 18px;
    color: darkgreen;
    padding: 0;
    border: 0;
    height: 21px;
    width: auto;
}

.button-increase:hover { cursor: pointer; }

.quest-list { margin: 16px 32px; padding: 0; }
.quest-list li > * { font-family: 'Cinzel'; margin: 10px; }
.quest-list li {
    list-style: none;
    line-height: 20px;
    background-color: rgb(148, 97, 50);
    border: 1px solid rgb(83, 54, 28);
    margin: 2px 0;
}
.quest-list li:hover { background-color: rgb(175, 113, 58); color: white; cursor: pointer; }

#notification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#notification.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}